# Gunakan URL backend Render Anda di sini saat mendeploy di Vercel
VITE_API_URL=https://nama-app-backend-anda.onrender.com

# Untuk mode local (development), biarkan kosong atau isi dengan:
# VITE_API_URL=http://localhost:8000
